<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/main-ja.css">
  <link rel="stylesheet" href="../../css/search.css">
  <script src="../summary.js"></script>
  <script src="../../js/search.js"></script>
  <title>{{ command }} - noman</title>
</head>
<body>

  <!-- ナビゲーションバー -->
  <nav>
    <div class="nav-logo"><img src="../../../images/white.png" height="50px"></div>
    <div class="nav-right">
      <div class="nav-links">
        <a href="#">Docs</a>
        <a href="#">Try</a>
        <a href="#">GitHub</a>
      </div>
      <div class="nav-search">
        <input id="nav-searchbox" type="text" placeholder="Search command...">
      </div>
    </div>
  </nav>

  <div class="content">

  <main>


{{ content }}


    
  </main>
  </div>
<footer>
  <div>
    <a href="#">GitHub</a> |
    MIT License
  </div>
</footer>
</body>
</html>
